body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .quiz-game-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    max-width: 800px; 
    margin: auto; 
  }
  
  .game-head {
    font-size: 2em;
    margin-bottom: 20px; 
    color: #4CAF50; 
  }
  
  .game-container {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  
  h2, h3 {
    margin: 20px 0;
    text-align: center;  
  }
  
  ul {
    list-style-type: none;  
    padding: 0;
  }
  
  button {
    align-self: center;
    background-color: #4CAF50;
    color: white; 
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="text"], input[type="radio"] {
    padding: 10px;
    margin: 10px 0; 
    width: calc(100% - 22px); 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  input[type="text"]:focus {
    border-color: #4CAF50; 
    outline: none; 
  }
  
  
  